# Entorno virtual
.venv/
venv/

# Caché Python
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# PyCharm
.idea/


# Variables de entorno
.env

# Cachés y testing
.pytest_cache/
.mypy_cache/

# Archivos del sistema
.DS_Store
Thumbs.db